body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

header {
  background-color: #234E52; /* dark teal blue */
  color: white;
  padding: 1rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #38B2AC; /* slightly lighter teal */
}

nav a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  display: inline-block;
}

nav a:hover {
  background-color: #2a6f97;
}

main {
  padding: 2rem;
}

footer {
  text-align: center;
  background-color: #013a63;
  color: white;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
