body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px; /* default is -16px -bump up */
  line-height: 1.6; /* adds breathing room between lines */
  background-color: #FFF5EE; /* blue for strip color is 1B73A0, but using cream now */
  color: #489CC3; /* blue body text for readibility */
  text-align: center;
}

header {
  background-color: #F0EAE0; /* sandy eggshell header background? */
  color: #F0EAE0;
  padding: 1rem;
  text-align: center;
}

/* Controls logo size */
header .logo {
  width: clamp(220px, 60vw, 520px); /* adjust to desired size- min, fluid, max */
  height: auto;  /* keep proportions  correct */
  display: block;
  margin: 0 auto;
}

/* make all images scale down on small screens */
img { max-width: 100%; height: auto; display: block; }

nav {
  display: flex;
  justify-content: center;
  background-color: #489CC3; /* matches body for smooth flow test blue top strip lighter blue */
}

nav a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  display: inline-block;
}

nav a:hover {
  background-color: #489CC3; /* lighter teal on hover */
}

/* simple, responsive gallery layout */
.gallery-container {
  display: grid;
  grid-template-columns: repeat (auto-fit, minmax(180px. 1fr));
  gap: 12px;
  justify-items: center;
}

#gallery img { border-radius: 6px; }

/* prevent fixed footer from covering content */
main {
  paddingbottom; 80px;
}

footer {
  text-align: center;
  background-color: #1B73A0;
  color: white;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
